In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("../Data/BankChurners_proper.csv")

In [3]:
df

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  object
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  object
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  object
 5   Marital_Status            10127 non-null  object
 6   Income_Category           10127 non-null  object
 7   Card_Category             10127 non-null  object
 8   Months_on_book            10127 non-null  int64
 9   Total_Relationship_Count  10127 non-null  int64
 10  Months_Inactive_12_mon    10127 non-null  int64
 11  Contacts_Count_12_mon     10127 non-null  int64
 12  Credit_Limit              10127 non-null  float64
 13  Total_Revolving_Bal       10127 non-null  int64
 14  Avg_Open_To_Buy           10127 non-null  float64
 15  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 16  Total_Trans_Amt           10127 non-null  int64
 17  Total_Trans_Ct            10127 non-null  int64
 18  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(9), object(6)
memory usage: 1.5+ MB

In [5]:
df.shape

(10127, 20)

In [6]:
df_ohe=pd.get_dummies(df,columns=["Gender","Education_Level","Marital_Status","Income_Category","Card_Category"])

In [7]:
df_ohe.shape

(10127, 38)

In [8]:
label_end={'Attrition_Flag':{'Existing Customer':0,'Attrited Customer':1}}

In [9]:
df_ohe.replace(label_end)

/var/folders/pp/vsc9g0zn3knb2rtnlyrv1k_m0000gn/T/ipykernel_16017/1245843226.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_ohe.replace(label_end)

,Attrition_Flag,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,0,45,3,39,5,1,3,12691.0,777,11914.0,...,False,False,True,False,False,False,True,False,False,False
1,0,49,5,44,6,1,2,8256.0,864,7392.0,...,False,False,False,False,True,False,True,False,False,False
2,0,51,3,36,4,1,0,3418.0,0,3418.0,...,False,False,False,True,False,False,True,False,False,False
3,0,40,4,34,3,4,1,3313.0,2517,796.0,...,False,False,False,False,True,False,True,False,False,False
4,0,40,3,21,5,1,0,4716.0,0,4716.0,...,False,False,True,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0,50,2,40,3,2,3,4003.0,1851,2152.0,...,False,True,False,False,False,False,True,False,False,False
10123,1,41,2,25,4,2,3,4277.0,2186,2091.0,...,False,True,False,False,False,False,True,False,False,False
10124,1,44,1,36,5,3,4,5409.0,0,5409.0,...,False,False,False,False,True,False,True,False,False,False
10125,1,30,2,36,4,3,3,5281.0,0,5281.0,...,False,True,False,False,False,False,True,False,False,False
10126,1,43,2,25,6,2,4,10388.0,1961,8427.0,...,False,False,False,False,True,False,False,False,False,True

In [10]:
df_ohe

,Attrition_Flag,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,Existing Customer,45,3,39,5,1,3,12691.0,777,11914.0,...,False,False,True,False,False,False,True,False,False,False
1,Existing Customer,49,5,44,6,1,2,8256.0,864,7392.0,...,False,False,False,False,True,False,True,False,False,False
2,Existing Customer,51,3,36,4,1,0,3418.0,0,3418.0,...,False,False,False,True,False,False,True,False,False,False
3,Existing Customer,40,4,34,3,4,1,3313.0,2517,796.0,...,False,False,False,False,True,False,True,False,False,False
4,Existing Customer,40,3,21,5,1,0,4716.0,0,4716.0,...,False,False,True,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,Existing Customer,50,2,40,3,2,3,4003.0,1851,2152.0,...,False,True,False,False,False,False,True,False,False,False
10123,Attrited Customer,41,2,25,4,2,3,4277.0,2186,2091.0,...,False,True,False,False,False,False,True,False,False,False
10124,Attrited Customer,44,1,36,5,3,4,5409.0,0,5409.0,...,False,False,False,False,True,False,True,False,False,False
10125,Attrited Customer,30,2,36,4,3,3,5281.0,0,5281.0,...,False,True,False,False,False,False,True,False,False,False
10126,Attrited Customer,43,2,25,6,2,4,10388.0,1961,8427.0,...,False,False,False,False,True,False,False,False,False,True

In [11]:
df_ohe.isnull().sum()

Attrition_Flag                    0
Customer_Age                      0
Dependent_count                   0
Months_on_book                    0
Total_Relationship_Count          0
Months_Inactive_12_mon            0
Contacts_Count_12_mon             0
Credit_Limit                      0
Total_Revolving_Bal               0
Avg_Open_To_Buy                   0
Total_Amt_Chng_Q4_Q1              0
Total_Trans_Amt                   0
Total_Trans_Ct                    0
Total_Ct_Chng_Q4_Q1               0
Avg_Utilization_Ratio             0
Gender_F                          0
Gender_M                          0
Education_Level_College           0
Education_Level_Doctorate         0
Education_Level_Graduate          0
Education_Level_High School       0
Education_Level_Post-Graduate     0
Education_Level_Uneducated        0
Education_Level_Unknown           0
Marital_Status_Divorced           0
Marital_Status_Married            0
Marital_Status_Single             0
Marital_Status_Unknown            0
Income_Category_$120K +           0
Income_Category_$40K - $60K       0
Income_Category_$60K - $80K       0
Income_Category_$80K - $120K      0
Income_Category_Less than $40K    0
Income_Category_Unknown           0
Card_Category_Blue                0
Card_Category_Gold                0
Card_Category_Platinum            0
Card_Category_Silver              0
dtype: int64

In [14]:
# standardization
X=df_ohe.drop('Attrition_Flag',axis=1)
y=df_ohe['Attrition_Flag']
df_ohe_std=(X-X.mean())/X.std()

In [15]:
df_ohe_std.describe()

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
count,1.012700e+04,1.012700e+04,1.012700e+04,1.012700e+04,1.012700e+04,1.012700e+04,1.012700e+04,1.012700e+04,1.012700e+04,1.012700e+04,...,1.012700e+04,1.012700e+04,1.012700e+04,1.012700e+04,1.012700e+04,1.012700e+04,1.012700e+04,1.012700e+04,10127.000000,1.012700e+04
mean,1.431329e-16,-7.296973e-17,-4.083498e-16,-6.735667e-17,1.866341e-16,-1.010350e-16,1.347133e-16,-6.735667e-17,4.490445e-17,3.690584e-16,...,-7.577626e-17,-1.438346e-17,-1.403264e-18,5.893709e-17,-4.209792e-17,9.822848e-18,7.858279e-17,4.490445e-17,0.000000,-2.245222e-17
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000e+00
min,-2.535416e+00,-1.806289e+00,-2.870926e+00,-1.809422e+00,-2.316560e+00,-2.219546e+00,-7.914876e-01,-1.426788e+00,-8.212956e-01,-3.466775e+00,...,-2.780877e-01,-4.633404e-01,-4.008389e-01,-4.226546e-01,-7.364005e-01,-3.511948e-01,-3.695162e+00,-1.076388e-01,-0.044482,-2.407818e-01
25%,-6.643487e-01,-1.036411e+00,-6.170990e-01,-5.227587e-01,-3.375813e-01,-4.115957e-01,-6.686217e-01,-9.862902e-01,-6.759270e-01,-5.882147e-01,...,-2.780877e-01,-4.633404e-01,-4.008389e-01,-4.226546e-01,-7.364005e-01,-3.511948e-01,2.705974e-01,-1.076388e-01,-0.044482,-2.407818e-01
50%,-4.065958e-02,-2.665340e-01,8.964070e-03,1.205731e-01,-3.375813e-01,-4.115957e-01,-4.492303e-01,1.388806e-01,-4.394762e-01,-1.092149e-01,...,-2.780877e-01,-4.633404e-01,-4.008389e-01,-4.226546e-01,-7.364005e-01,-3.511948e-01,2.705974e-01,-1.076388e-01,-0.044482,-2.407818e-01
75%,7.077674e-01,5.033433e-01,5.098145e-01,7.639049e-01,6.519080e-01,4.923795e-01,2.679730e-01,7.622032e-01,2.628911e-01,4.518991e-01,...,-2.780877e-01,-4.633404e-01,-4.008389e-01,-4.226546e-01,1.357823e+00,-3.511948e-01,2.705974e-01,-1.076388e-01,-0.044482,-2.407818e-01
max,3.327262e+00,2.043098e+00,2.513216e+00,1.407237e+00,3.620376e+00,3.204305e+00,2.847913e+00,1.661604e+00,2.975228e+00,1.203001e+01,...,3.595632e+00,2.158027e+00,2.494522e+00,2.365764e+00,1.357823e+00,2.847141e+00,2.705974e-01,9.289413e+00,22.478881,4.152727e+00

In [16]:
# outliers detection

def impute_outlier(df,col):
    df.loc[df[col]>3,col]=3
    df.loc[df[col]<-3,col]=-3
    return df

df_impute=df_ohe_std
for col in df_impute:
    df_impute=impute_outlier(df_impute,col)


df_impute

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,-0.165397,0.503343,0.384602,0.763905,-1.327071,0.492379,0.446600,-0.473399,0.488947,2.623365,...,-0.278088,-0.463340,2.494522,-0.422655,-0.736401,-0.351195,0.270597,-0.107639,-0.044482,-0.240782
1,0.333554,2.043098,1.010665,1.407237,-1.327071,-0.411596,-0.041365,-0.366649,-0.008486,3.000000,...,-0.278088,-0.463340,-0.400839,-0.422655,1.357823,-0.351195,0.270597,-0.107639,-0.044482,-0.240782
2,0.583030,0.503343,0.008964,0.120573,-1.327071,-2.219546,-0.573669,-1.426788,-0.445636,3.000000,...,-0.278088,-0.463340,-0.400839,2.365764,-0.736401,-0.351195,0.270597,-0.107639,-0.044482,-0.240782
3,-0.789087,1.273221,-0.241461,-0.522759,1.641397,-1.315571,-0.585222,1.661604,-0.734063,2.942698,...,-0.278088,-0.463340,-0.400839,-0.422655,1.357823,-0.351195,0.270597,-0.107639,-0.044482,-0.240782
4,-0.789087,0.503343,-1.869225,0.763905,-1.327071,-2.219546,-0.430856,-1.426788,-0.302853,3.000000,...,-0.278088,-0.463340,2.494522,-0.422655,-0.736401,-0.351195,0.270597,-0.107639,-0.044482,-0.240782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0.458292,-0.266534,0.509814,-0.522759,-0.337581,0.492379,-0.509304,0.844413,-0.584900,-0.259758,...,-0.278088,2.158027,-0.400839,-0.422655,-0.736401,-0.351195,0.270597,-0.107639,-0.044482,-0.240782
10123,-0.664349,-0.266534,-1.368375,0.120573,-0.337581,0.492379,-0.479157,1.255462,-0.591610,0.200994,...,-0.278088,2.158027,-0.400839,-0.422655,-0.736401,-0.351195,0.270597,-0.107639,-0.044482,-0.240782
10124,-0.290135,-1.036411,0.008964,0.763905,0.651908,1.396355,-0.354608,-1.426788,-0.226621,0.269423,...,-0.278088,-0.463340,-0.400839,-0.422655,1.357823,-0.351195,0.270597,-0.107639,-0.044482,-0.240782
10125,-2.036465,-0.266534,0.008964,0.120573,0.651908,0.492379,-0.368691,-1.426788,-0.240701,-1.026157,...,-0.278088,2.158027,-0.400839,-0.422655,-0.736401,-0.351195,0.270597,-0.107639,-0.044482,-0.240782
10126,-0.414873,-0.266534,-1.368375,1.407237,-0.337581,1.396355,0.193210,0.979384,0.105367,-0.259758,...,-0.278088,-0.463340,-0.400839,-0.422655,1.357823,-0.351195,-3.000000,-0.107639,-0.044482,3.000000

In [26]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df_impute,y,test_size=0.3,random_state=7)
X_Train.shape , Xtest.shape

((7088, 37), (3039, 37))

In [28]:
# Principal componenet analysis

from sklearn.decomposition import PCA
pca1 = PCA(n_components = 0.95, random_state=7 )
pca1.fit(X_Train)
X_trans_test = pca1.transform(Xtest)
X_trans_train=pca1.transform(X_Train)
X_trans_train=pd.DataFrame(X_trans_train,index=X_Train.index)
X_trans_test=pd.DataFrame(X_trans_test,index=X_test.index)

In [29]:
X_trans_train.shape,X_trans_test.shape

((7088, 24), (3039, 24))

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
y.value_counts(normalize=True)

Attrition_Flag
Existing Customer    0.83934
Attrited Customer    0.16066
Name: proportion, dtype: float64

In [ ]:
dt=DecisionTreeClassifier(criterion='gini',random_state=7,class_weight='balanced')

In [41]:
dt.fit(X_train,y_train)

DecisionTreeClassifier(class_weight='balanced', random_state=7)

In [42]:
dt.feature_importances_

array([2.31485597e-02, 2.83515277e-03, 8.85992879e-03, 5.61833446e-02,
       8.02126305e-03, 1.04723093e-02, 1.53295468e-02, 9.41631628e-02,
       6.34591544e-03, 6.25022335e-02, 1.90394187e-01, 4.25255281e-01,
       6.57500934e-02, 5.15083786e-03, 3.06754691e-03, 5.89504730e-04,
       3.80251854e-18, 1.30167753e-03, 0.00000000e+00, 7.58111965e-06,
       3.29862057e-03, 8.99768923e-04, 9.18611465e-04, 1.50760763e-03,
       2.32861283e-03, 7.56787437e-04, 1.92636924e-03, 8.69334412e-17,
       3.24717496e-04, 1.36259907e-03, 1.61736406e-03, 8.86019718e-04,
       3.31841666e-04, 9.95459166e-04, 3.13132186e-04, 1.69559952e-03,
       1.45876347e-03])

In [43]:
for col,imp in zip(X_train.columns,dt.feature_importances_):
    print(col,imp)

Customer_Age 0.02314855965998603
Dependent_count 0.0028351527659270033
Months_on_book 0.008859928793353605
Total_Relationship_Count 0.05618334456880354
Months_Inactive_12_mon 0.008021263053164394
Contacts_Count_12_mon 0.010472309349990104
Credit_Limit 0.015329546771938042
Total_Revolving_Bal 0.09416316276031984
Avg_Open_To_Buy 0.006345915443006232
Total_Amt_Chng_Q4_Q1 0.06250223353208621
Total_Trans_Amt 0.19039418658140414
Total_Trans_Ct 0.42525528070803925
Total_Ct_Chng_Q4_Q1 0.06575009340311283
Avg_Utilization_Ratio 0.0051508378571676165
Gender_F 0.003067546910249159
Gender_M 0.0005895047301730789
Education_Level_College 3.802518542244359e-18
Education_Level_Doctorate 0.0013016775340994493
Education_Level_Graduate 0.0
Education_Level_High School 7.581119651120226e-06
Education_Level_Post-Graduate 0.003298620574046166
Education_Level_Uneducated 0.0008997689233193571
Education_Level_Unknown 0.0009186114646804669
Marital_Status_Divorced 0.0015076076280084335
Marital_Status_Married 0.0023286128347231043
Marital_Status_Single 0.0007567874373282583
Marital_Status_Unknown 0.0019263692386780244
Income_Category_$120K + 8.693344115544841e-17
Income_Category_$40K - $60K 0.0003247174957785613
Income_Category_$60K - $80K 0.0013625990728414429
Income_Category_$80K - $120K 0.0016173640605115563
Income_Category_Less than $40K 0.000886019718493883
Income_Category_Unknown 0.00033184166629674226
Card_Category_Blue 0.0009954591660037817
Card_Category_Gold 0.00031313218645162046
Card_Category_Platinum 0.0016955995200526861
Card_Category_Silver 0.0014587634703142345

In [44]:
from sklearn.feature_selection import SelectFromModel

In [45]:
dt=DecisionTreeClassifier(criterion='gini',random_state=7,class_weight='balanced')
sfm=SelectFromModel(dt,threshold="mean")

In [57]:
sfm.fit(X_train,y_train)
sfm.get_feature_names_out()

array(['Total_Relationship_Count', 'Total_Revolving_Bal',
       'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct',
       'Total_Ct_Chng_Q4_Q1'], dtype=object)

In [ ]:
x_train_dt=sfm.transform(X_train)
x_test_dt=sfm.transform(X_test)

In [52]:
x_train_dt.shape ,x_test_dt.shape

((7088, 6), (3039, 6))

In [56]:
x_train_dt

array([[ 0.76390489, -0.0230851 ,  0.03220405,  0.13008445,  1.15629882,
         0.09986986],
       [-0.5227587 , -0.0046799 , -1.62376671, -0.75831271, -0.84603834,
        -0.89136822],
       [-0.5227587 , -0.40345911, -0.45591956,  0.12419713,  0.98588714,
         0.84329842],
       ...,
       [ 1.40723668,  0.4983954 , -0.51066239,  0.16246473,  1.15629882,
        -0.16474031],
       [-0.5227587 , -1.42678789, -0.38292911, -1.08770848, -1.61289087,
        -1.22318097],
       [-1.80942228,  0.50698449,  0.18274685,  3.        ,  2.30657761,
        -0.70236096]])